<div class="wrapper">
  <p class="title">Usens Password Strength</p>

  <mat-form-field appearance="outline" class="field">
    <input (input)="parsePasswordStrength(passwordField.errors)" required [(ngModel)]="password" #passwordField="ngModel" passwordStrength minlength="8" matInput placeholder="Password" type="password">
  </mat-form-field>

  <div class="password-strength">
    <div class="password-strength__sections">
      <div
        class="item"
        [ngClass]="{
          'grey': passwordField.errors?.required,
          'red': passwordField.errors?.minlength || ['Easy','Strong', 'Medium'].indexOf(passwordStrength.message) !== -1
          }"
      ></div>

      <div
        class="item"
        [ngClass]="{
          'grey': passwordField.errors?.required,
          'red': passwordField.errors?.minlength || passwordField.errors?.minlength || ['Strong', 'Medium'].indexOf(passwordStrength.message) !== -1
          }"
      ></div>

      <div
        class="item"
        [ngClass]="{
          'grey': passwordField.errors?.required,
          'red': passwordField.errors?.minlength || passwordStrength.message === 'Strong'
          }"
      ></div>
    </div>

    <p class="strong-message">{{ passwordStrength.message }}</p>

    <span class="hints-title" *ngIf="!passwordStrength.letter || !passwordStrength.symbol || !passwordStrength.number">Hints:</span>
    <p *ngIf="!passwordStrength.letter" class="hints-item">
      Add letter
    </p>
    <p *ngIf="!passwordStrength.symbol" class="hints-item">
      Add special character
    </p>
    <p *ngIf="!passwordStrength.number" class="hints-item">
      Add number
    </p>
  </div>
</div>
