.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 12px;
}

.field {
  width: 100%;
}

.password-strength {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__sections {
    display: flex;
    align-items: center;
    height: 8px;
    width: 100%;
    background: #f1f1f1;

    .item {
      width: calc(100% / 3);
      height: 8px;
      background: indianred;

      &:first-of-type {
        background: green;
      }
      &:last-of-type {
        background: purple;
      }
    }
  }
}
