<div class="wrapper">
  <p class="title">Usens Password Strength</p>

  <mat-form-field appearance="outline" class="field">
    <input required [ngModel]="password" #passwordField="ngModel" passwordStrength minlength="8" matInput placeholder="Password" type="password">
  </mat-form-field>

  <div class="password-strength">
    <div class="password-strength__sections">
      <div class="item" [class.red]="passwordField.errors"></div>
      <div class="item" [class.red]="passwordField.errors"></div>
      <div class="item" [class.red]="passwordField.errors"></div>
    </div>

    <p>Medium</p>

    {{ passwordField.errors | json }}
  </div>
</div>
